In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [2]:
df = pd.read_csv('adult.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

**1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?**

In [3]:
len(df)

32561

**2. Каков средний возраст (признак age) женщин?**

In [4]:
sum(df[df.sex == "Female"]["age"]) / len(df[df.sex == "Female"])

36.85823043357163

**3. Какова доля граждан Германии (признак native-country)?**

In [5]:
f"{(len(df[df.nativeCountry == 'Germany']) / len(df))*100}%"

'0.42074874850281013%'

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?**

In [6]:
middle_less_50k = df[df.income == "<=50K"]["age"].mean()
middle_less_50k_sigma = df[df.income == "<=50K"]["age"].std()
print(middle_less_50k, middle_less_50k_sigma)
middle_more_50k = df[df.income == ">50K"]["age"].mean()
middle_more_50k_sigma = df[df.income == ">50K"]["age"].std()
print(middle_more_50k, middle_more_50k_sigma)

36.78373786407767 14.02008849082488
44.24984058155847 10.519027719851826

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [7]:
educ = df[df.income == ">50K"]["education"]
educ.value_counts()

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.**

In [8]:
race_stat = df[df.race == "Amer-Indian-Eskimo"][df.sex == "Male"]["age"]
max(race_stat)

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
married = df.rename(columns={"marital-status" : "maritalStatus"})
count_married = len(married[married.income == ">50K"][married.maritalStatus.str.startswith("Married")])
not_married = df.rename(columns={"marital-status" : "maritalStatus"})
not_married = len(married[married.income == ">50K"])
if count_married > not_married:
    print("Married wins!")
else:
    print("Not married wins!")

Not married wins!

**9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
maxHoursInTheWeek = max(df["hoursPerWeek"])
howMuch = len(df[df.hoursPerWeek == maxHoursInTheWeek])
more50kFromThem = f'{(len(df[df.income == ">50K"][df.hoursPerWeek == maxHoursInTheWeek]) / howMuch) * 100}%'

**10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много для каждой страны.**

In [11]:
middleTimeLess50K = df[df.income == "<=50K"]["hoursPerWeek"].mean()
middleTimeMore50K = df[df.income == ">50K"]["hoursPerWeek"].mean()